<div class="container">
<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
<h2><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"%> </h2>
<%= link_to 'Update Shelter', "/shelters/#{shelter.id}/edit" %> |
<%= link_to  "Delete Shelter", "/shelters/#{shelter.id}", method: :delete, data: {confirm: "Confirm Sheleter Deletion"} %><br/>
<% end %>

<%= link_to "New Shelter", shelters_new_path %></h3>
